dist: trusty
sudo: false
language: c++

env:
  global:
    - MAKEFLAGS="-j 2"

git:
  depth: 1

addons:
  apt:
    sources: &apt_sources
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0

cache:
  directories:
    - ${HOME}/.hunter

matrix:
  fast_finish: true
  include:
    - env: COMPILER=g++-8
      os: linux
      compiler: gcc
      addons:
        apt:
          packages: ["bison", "flex", "libboost-dev", "libboost-iostreams-dev", "libfl-dev", "libgmp-dev", "pkg-config", "g++-8"]
          sources: *apt_sources

    - env: COMPILER=clang++-6.0
      os: linux
      compiler: clang
      addons:
        apt:
          packages: ["bison", "flex", "libboost-dev", "libboost-iostreams-dev", "libfl-dev", "libgmp-dev", "pkg-config", "clang-6.0"]
          sources: *apt_sources

    - env: COMPILER=clang++
      os: osx
      compiler: clang
      osx_image: xcode9.2

install:
  - export CXX="${COMPILER}"
  - export PATH="/usr/local/opt/bison/bin:/usr/local/opt/flex/bin::$PATH"
  - |
    if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
      brew install protobuf bison
      brew upgrade gmp
    fi
    if [[ "${TRAVIS_OS_NAME}" = "linux" ]]; then
      wget https://github.com/google/protobuf/releases/download/v3.6.0/protobuf-all-3.6.0.tar.gz
      tar -xzf protobuf-all-3.6.0.tar.gz
      pushd protobuf-3.6.0 && ./configure --prefix=/usr && make && sudo make install && popd
    fi

before_script:
  - mkdir -p build

script:
#  - cd build && cmake -DENABLE_GC=OFF -DENABLE_BMV2=OFF -DENABLE_EBPF=OFF -DENABLE_GTESTS=OFF -DENABLE_P4C_GRAPHS=OFF -DENABLE_P4TEST=OFF -DENABLE_UNITTESTS=ON -DCMAKE_BUILD_TYPE=Release -DHUNTER_JOBS_NUMBER=1 .. && cmake --build . && cd test && ctest
  - cd build && cmake -DENABLE_GC=OFF -DENABLE_BMV2=OFF -DENABLE_EBPF=OFF -DENABLE_GTESTS=OFF -DENABLE_P4C_GRAPHS=OFF -DENABLE_P4TEST=OFF -DENABLE_UNITTESTS=ON -DCMAKE_BUILD_TYPE=Release -DHUNTER_JOBS_NUMBER=1 ..

notifications:
  email: false
  slack:
    rooms:
      secure: Ezco+WkDybTPe+8iNKFyCAAuimsotzPeqy5Yv8+BOYVa9dC/glLjfofDAvjW5cfJ/FxpmDxAXWcG2Ruk7n1jDq/Jnn5gnjNQ44KrxUcjMq2CPNVtdJIn6TJyz0ZMYN3MpUCkDnsuIPBwb4lDlMrKpu1C8bIAoEFZite/RgYENLq6C4bu72e6RND2sHvCjYPj13+fTAjY9/voVDZK1Hkss8RM5V7QlG8z/c+KuCTk0qWsAbM/Z9Wrak4Ir8RHQ8XwPIz6mIlQaIdwy4UspQ8tA+wu2frxnkZatN4cfuhEUHtYB5K2wrtcCac6pC/SjJIDdAbA5nMb+drBdCqxXiFf1bhdBSu+F55Q/THlJltdxae8kqKszy33OBJPr+kAfNxIRYg8zrzhSQucLYsg797sQ4fnOGR+nNOqRdVUQ232PIaXBzLObczi64qC0MOJBgJcYT4nFyHeZHJhb0CorGt7/ay2VK5tJJ0XNE55xCSxiJuA8lVUtO3VQwijoT8AoO95citQ0DRShZXRzhVgmmmIk/SKN6y23d4N1vi0AXCxt010ArWusARWqu7j8bqsj7xUdzjEG9HsVluqrSYVH+Ca2F63sFW7mWZntLz7oKmeHLBj/bYKyBZmw/4hP/H8lzBdfeMx2lZDqvZN9UrENzzifjPPopPD94idc0pdYllt4KM=
