<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="p4lang" sequenceNumber="38">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.lsp4e" version="0.5.0.201802161151"/>
<repository location="http://download.eclipse.org/lsp4e/0.5.x-snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="tm-feature.feature.group" version="0.1.0.201802091213"/>
<repository location="http://download.eclipse.org/tm4e/snapshots"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.sdk.ide" version="4.7.3.M20180330-0640"/>
<unit id="org.eclipse.sdk.tests.feature.group" version="4.7.3.v20180330-0919"/>
<unit id="org.eclipse.test.feature.group" version="3.7.200.v20170511-1043"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
</locations>
</target>
